<div class="footer bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 colunas">
                <ul>
                    <li>
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="newslwtter">Novidades no seu E-mail</label>
                                <input type="email" class="form-control" id="newslwtter" placeholder="name@example.com">
                            </div>                    
                        </form>
                    </li>
                    <li><app-rede-social></app-rede-social></li>
                </ul>
            </div>
            <div class="col-md-3 colunas">
                <ul>
                    <li><h5>Contatos</h5></li>
                    <li>cestasportoalegre@globo.com</li>
                </ul>
            </div>
            <div class="col-md-3 colunas">
                <ul>
                    <li><h5>Telefones</h5></li>
                    <li>(51) 3377 1770</li>
                    <li>(51) 3347 6065</li>
                    <li>(51) 98476 4134</li>
                    <li>(51) 98933 7200</li>
                </ul>
            </div>
            <div class="col-md-3 colunas">
                <ul>
                    <li><h5>Endereco</h5></li>
                    <li>Rua Terezinha Turcato, 470 - Parque Santa Fé - Porto Alegre/RS</li>
                </ul>
            </div>
        </div>
    </div>
</div>