.footer{  
    color: white;
    font-weight: 100;
    font-size: 0.9em;
    ul {
        margin-top: 20px;
    }
    ul li {
        list-style: none;
    }
    .colunas{
        border-right: solid white thin;
    }
    input {
        border: none;
    }
}