<div class="container adicionais">
    <div class="row">
        <div class="col-6 offset-3 text-center text-info">
            <h3>Você pode adicionar ester itens</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-3 mt-2 mb-3">
            <app-card></app-card>
        </div>
        <div class=" col-md-3 mt-2 mb-3">
            <app-card></app-card>
        </div>
        <div class=" col-md-3 mt-2 mb-3">
            <app-card></app-card>
        </div>
        <div class=" col-md-3 mt-2 mb-3">
            <app-card></app-card>
        </div>
    </div>
</div>