<div class="container pagamento text-center">
    <app-titulo></app-titulo>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <h3>Transferência</h3>
                <div class="row">
                    <div class="col-2"><img src="../../../assets/itau.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/bb.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/bradesco.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/caixa.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/banrisul.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/santander.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <h3>Cartão de crédito</h3>
                <div class="row">
                    <div class="col-2 offset-1"><img src="../../../assets/visa.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/master.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/diners.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/hipercard.png" alt=""></div>
                    <div class="col-2"><img src="../../../assets/hiper.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron">
                <h3>Depósito</h3>
                <div class="row">
                    <div class="col-6 offset-3 text-center"><img src="../../../assets/caixa.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>