.banners {
    .banner1,
    .banner2,
    .banner3 {
        height: 340px;
        margin-top: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: wheat;
            font-weight: 100;
            font-size: 3em;
        }
    }
    .banner1 {
        background-color: #51918E;
    }
    .banner2 {
        background-color: rgb(54, 179, 172);
    }
    .banner3 {
        background-color: rgb(7, 90, 86);
    }
}