.menu {
    a {
        display: block;
        border: solid thin grey;
        color: grey;
        margin: 6px;
        padding: 3px;
        list-style-type: none;
        text-decoration: none;
    }
    a:hover {
        background-color: lightyellow;
        color: black;
    }
    li {
        list-style-type: none;
    }

    nav ul {
        display: flex;
        margin-left: 10px;
    }

}