<div class="social">
    <div class="row">
        <div class="text-center">
            <ul>
                <li><img src="../../../assets/social-facebook.svg" class="img-fluid" alt="" srcset=""></li>
                <li><img src="../../../assets/social-twitter.svg" class="img-fluid" alt="" srcset=""></li>
                <li><img src="../../../assets/social-whatsap.svg" class="img-fluid" alt="" srcset=""></li>
                <li><img src="../../../assets/social-instagram.svg" class="img-fluid" alt="" srcset=""></li>
            </ul>
        </div>
    </div>
</div>
