<div class="container vitrines">
    <div class="row">
        <div class="col-12">
            <app-vitrine></app-vitrine>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-vitrine></app-vitrine>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-banner></app-banner>
        </div>
        <div class="col-6">
            <app-banner></app-banner>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-vitrine></app-vitrine>
        </div>
    </div>
</div>